{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<br><br><br>
<h3 align="center" style="color: white;">About Us</h3>
<br><br>

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">POONAM YADAV</h5>
        <p class="card-text">PSIT College of Engineering <br> 2003481520012 <br> CS-AI</p>
        <a href="https://www.linkedin.com/in/poonam-yadav-86b888223" class="btn btn-primary">LinkedIn</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SHIVANI SINGH</h5>
        <p class="card-text">PSIT College of Engineering <br> 2003481520018 <br> CS-AI</p>
        <a href="https://www.linkedin.com/in/shivani-singh-bhadauria12" class="btn btn-primary">LinkedIn</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TRISHLA MISHRA</h5>
        <p class="card-text">PSIT College of Engineering <br> 2003481520020 <br> CS-AI</p>
        <a href="https://www.linkedin.com/in/trishla-mishra14" class="btn btn-primary">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
