{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<section class="vh-100">
  <div class="container py-5 h-100">
    <h1 align="center" style="color: white;">Encrypted File Storage</h1>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
<br><br>

<div class="card" style="max-width: 300px;">
  <div class="card-body">
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


{% endblock %}
